/* Colores */
/* Fuentes */
/* Espacios */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #fff;
  color: #ced9e0;
  font-family: "Lato", sans-serif; }

::-webkit-input-placeholder {
  color: #fff; }

:-moz-placeholder {
  color: #fff; }

.navbar {
  background-color: #f83745;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .navbar .navbar__logo {
    width: 100%;
    background-color: #f83745;
    padding: 1em 40px; }
    .navbar .navbar__logo h3 {
      font-weight: 600;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .navbar .navbar__logo h3 .icon-ticket {
        margin-right: 10px; }
  .navbar .navbar__toggle {
    cursor: pointer;
    position: absolute;
    top: 1em;
    right: 40px;
    color: #fff; }
  .navbar .navbar__search {
    width: 100%;
    background-color: #ff424f;
    padding: 1em 40px; }
    .navbar .navbar__search .icon-search {
      position: absolute;
      top: 65px; }
    .navbar .navbar__search input {
      width: 100%;
      background: transparent;
      border: none;
      outline: none;
      color: #fff;
      padding-left: 40px; }

input[type=checkbox] {
  display: none; }

input[type=checkbox]:checked ~ .sidebar {
  left: 0; }

.sidebar {
  width: 240px;
  height: 2000px;
  background-color: #191c1f;
  position: absolute;
  left: -240px;
  -webkit-transition: all .2s;
          transition: all .2s;
  padding-top: 40px; }
  .sidebar .sidebar__item {
    list-style: none; }
    .sidebar .sidebar__item .sidebar__link {
      font-size: 14px;
      display: block;
      padding: 1em 40px;
      color: #fff;
      text-decoration: none; }
      .sidebar .sidebar__item .sidebar__link:hover {
        background-color: #222b31;
        color: #f83745; }
      .sidebar .sidebar__item .sidebar__link span {
        position: absolute;
        right: 40px;
        font-size: 18px; }

.open {
  left: 0; }

.movies .movies__title {
  font-size: 26px;
  color: #222b31;
  margin: 40px; }

.movies .movies__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 15px; }
  .movies .movies__wrapper .movies__movie {
    padding-right: 15px; }
    .movies .movies__wrapper .movies__movie .movies__movie__head {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 10px;
      color: #fff;
      font-size: 14px; }
      .movies .movies__wrapper .movies__movie .movies__movie__head .movie__quality {
        background-color: #1aa9f3;
        padding: .3em;
        margin-right: 5px; }
      .movies .movies__wrapper .movies__movie .movies__movie__head .movie__language {
        background-color: #ffd85a;
        padding: .3em; }
    .movies .movies__wrapper .movies__movie .movie__title {
      margin-top: 5px;
      color: #222b31;
      font-size: 18px; }
    .movies .movies__wrapper .movies__movie .movie__gender {
      color: #1aa9f3; }
