.sidebar
  width: 240px
  height: 2000px
  background-color: $color-four
  position: absolute
  .sidebar_item
    list-style: none
    .sidebar_link
      display: block
      background-color: $color-five
      padding: 1em $space
      color: #fff
      text-decoration: none
      &:hover
        color: $color-one
