//=============================
          Sidebar
//=============================

.sidebar
  width: 240px
  height: 2000px
  background-color: $color-four
  position: absolute
  left: -240px
  transition: all .2s
  padding-top: $space
  z-index: 20

  .sidebar__item
    list-style: none

    .sidebar__link
      font-size: 14px
      display: block
      padding: 1em $space
      color: #fff
      text-decoration: none
      &:hover
        background-color: $color-five
        color: $color-one
      span
        position: absolute
        right: $space
        font-size: 18px

.open
  left: 0

// Pantallas 1024px
@media (min-width: 1024px)
  .sidebar
    left: 0
