<!--================================================
Views : Sidebar
=================================================== -->

<label for="navmenu"><span class="navbar_toggle icon-bars"></span></label>
<input type="checkbox" id="navmenu">

<section id="sidebar" class="sidebar">
  <li class="sidebar_item">
    <a  class="sidebar_link" href="#">Recientes</a>
  </li>
  <li class="sidebar_item">
    <a  class="sidebar_link" href="#">Favoritas</a>
  </li>
  <li class="sidebar_item">
    <a  class="sidebar_link" href="#">Mas Descargadas</a>
  </li>
  <li class="sidebar_item">
    <a  class="sidebar_link" href="#">Generos</a>
  </li>
</section>
